.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1.5rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--bg-color);
    width: 500px;
    height: 600px;
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow: 0 3px 10px var(--border-color);
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.chatLog {
    flex-grow: 1;
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;
    padding: 1rem;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    word-break: break-word;
}


.message {
    margin-bottom: 0.5rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    word-break: break-word;
}

.inputGroup {
    display: flex;
    gap: 0.75rem;
}

.textarea {
    border: 1px solid var(--border-color);
    padding: 0.8rem;
    resize: none;
    flex: 1;
    height: 3rem;
    background-color: var(--input-bg);
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 4px;
    font-family: inherit;
}


.button {
    border: 1px solid var(--border-color);
    padding: 0.5rem 1rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.button:not(.notAllowed):hover {
    background-color: var(--card-bg);
}

.button.notAllowed {
    opacity: 0.8;
    cursor: not-allowed;
}

.button.notAllowed:hover {
    background-color: rgba(255, 0, 0, 0.15);
    border-color: rgba(255, 0, 0, 0.3);
}

.charCount {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 0.80rem;
    color: #888;
    font-weight: bold;
}

.charCountWarning {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 0.80rem;
    color: #ccb800;
    font-weight: bold;
}

.charCountExceeded {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 0.80rem;
    color: red;
    font-weight: bold;
}
