

.bot-button {
    position: fixed;
    right: 40px;
    bottom: 47px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    background:none;
    cursor: pointer;
    box-shadow: 0 4px 12px var(--border-color);
}

.popover {
    position: fixed;
    bottom: 4rem;
    right: 5rem;
    width: 40vw;
    height: 70vh;
    overflow: visible;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px var(--border-color);
    border-radius: 1rem;
}


.wrapper {
    max-width: 100%;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
}

.mobile-panel {
    margin-bottom: 1rem;
    left: 0;
    right: 0;
    max-width: 100vw;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 12px var(--border-color);
}

@media (max-width: 800px) {
    .wrapper {
        display: none;
    }
}

