.button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    padding: 12px;
    border: 1px solid ;
    background-color: white;
    border-radius: 50%;
    font-size: 40px;
    line-height: 1;
    cursor: pointer;
    z-index: 1000;
}

.bot-button {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--border-color);
    background:none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}



.popover {
    position: absolute;
    bottom: 3rem;
    right: 0;
    width: 360px;
    max-width: 360px;
    max-height: 500px;

    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

}


.wrapper {
    max-width: 500px;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
}

[data-theme="dark"] .bot-button {
    border: 1px solid rgba(255, 255, 255, 0.2);
}