.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5rem;
    color: white;

    padding: 0.5rem;
    border-radius: 0.25rem;
    z-index: 50;
    cursor: text;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.input {
    outline: none;
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow-y: auto;
    flex: 1;
    height: 50px;
    min-height: 40px;
    border: 2px solid #3b82f6;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    color: var(--text-color);
    width: 100%;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: clamp(12px, 1.1vw, 16px);
}


.empty::before {
    content: attr(data-placeholder);
    color: #999;
    pointer-events: none;
    position: absolute;
    left: 0.75rem;
    top: 0.5rem;
    font-size: 1rem;
}


@media (max-width: 800px) {
    .input {
        font-size: 0.8rem;
    }
    .empty::before {
        font-size: 0.8rem;
    }

}




