.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: white;

    padding: 0.5rem;
    border-radius: 0.25rem;
    z-index: 50;
    cursor: text;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.input {
    outline: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-all;
    flex: 1;
    min-height: 40px;
    border: 2px solid #3b82f6;
    border-radius: 8px;
    padding: 0.5rem;
    color: var(--text-color);
    width: 100%;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
}


.empty::before {
    content: attr(data-placeholder);
    color: #999;
    pointer-events: none;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}