.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5rem;
    color: white;

    padding: 0.5rem;
    border-radius: 0.25rem;
    z-index: 50;
    cursor: text;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.input {
    outline: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    flex: 1;
    min-height: 40px;
    border: 2px solid #3b82f6;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    color: var(--text-color);
    width: 100%;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 1rem;
}


.empty::before {
    content: attr(data-placeholder);
    color: #999;
    pointer-events: none;
    position: absolute;
    left: 0.75rem;
    top: 0.5rem;
    font-size: 1rem;
}

.help-wrapper {
    position: relative;
    margin-left: 0.5rem;
    flex-shrink: 0;
}

.help-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--border-color);
    opacity: 0.8;
    cursor: help;
}

.tool-tip {
    position: absolute;
    bottom: 120%;
    right: 0;
    background-color: var(--bg-color);
    color: var(--border-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: bold;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}