.section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1.5rem;
    box-shadow: 0 3px 10px var(--border-color);

    border:  1.25px solid var(--border-color);
    border-radius: 1rem;
    background-color: var(--bg-color);
}
.price{
    font-weight: bold;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.itemList {
    list-style: none;
    padding-left: 0;
}

.item {
    margin-bottom: 0.5rem;
}

.restaurant {
    font-weight: bold;
}
