.section {
    font-size: 13px; /*siia clamp*/
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
    box-shadow: 0 3px 10px #2C5696;
    border: 1.25px solid var(--border-color);
    border-radius: 1.5rem;
    background-color: var(--bg-color);
    width: 100%;
    max-width: 100%;
}

.title {
    margin: 0;
    padding: 10px 0 0 16px;
    font-size: 18px; /*siia clamp*/
    font-weight: 700;
}

.buttons {
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: center;
}

.button {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 0.4rem 1rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--text-color);
    font-family: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 1rem;
    transition: background-color 0.2s ease;
    word-break: break-word;
}

.item:hover {
    background-color: var(--card-bg);
}

.description {
    flex: 1 1 auto;
    margin-right: 0;
    font-weight: 400;
    line-height: 1.4;
}

.price {
    flex: 0 0 4rem;
    font-weight: 700;
    color: var(--border-color);
    text-align: right;
    white-space: nowrap;
}