.main-layout{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    flex-wrap: wrap;

}

.chat-panel {
    flex: 2 1 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
    width: 100%;

}

.scaled-wrapper-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    overflow: hidden;
    position: relative;
}

.scaled-content {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    transform-origin: top left;
}

.info-panel {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
    width: 100%;

}

@media (max-width: 768px) {
    .main-layout {
        flex-direction: column;
        padding: 1rem;
    }
    .chat-panel,
    .info-panel {
        width: 100%;
    }
}

.body {
    overflow-x: hidden;
    overscroll-behavior: none;
}



