.main-layout{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    height: 100%;
    padding: 1.25rem;
}

.chat-panel {
    margin-left: 50px;
    flex:4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.info-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 250px;
}

.body {
    overflow: hidden;
    overscroll-behavior: none;
}

