.main-layout{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 1;
    height: 100%;
    max-width: 1800px;
    padding: 0 2rem 10px;
    width: 100%;
}

.wide-div {
   width: 100%;
}

.chat-panel {
    flex: 2 1 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
    width: 100%;
    height: 100%;
}

.info-panel {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
    width: 100%;
    height: 100%;

}

@media (max-width: 800px) {
    .main-layout {
        flex-direction: column;
        padding: 0.5rem;
        gap: 1rem;
    }
    .chat-panel,
    .info-panel {
        width: 100%;
    }
    body {
        padding-top: 0;
    }
}

.footer-info {
    display: none;
}

@media (max-width: 800px) {
    .footer-info {
        display: block;
        background-color: #004b9b;
        color: white;
        padding: 1rem;
        font-size: 0.85rem;
        line-height: 1.5;
        text-align: center;
        white-space: pre-wrap;
        border-top: 2px solid var(--border-color);

    }
    .footer-text {
        flex: 3;
        font-size: 0.85rem;
        line-height: 1.5;
        overflow-wrap: break-word;
    }

    .footer-text ul {
        padding-left: 1.5rem;
        margin: 0.5rem 0;
    }

    .footer-text a {
        color: #a3d5ff;
        text-decoration: underline;
    }

    .footer-logo {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-logo img {
        max-width: 100%;
        height: auto;
        max-height: 80px;
        filter: brightness(1000%) contrast(200%);
        opacity: 1.0;
    }
}


