.main-layout{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 1;
    height: 100%;
    max-width: 1800px;
    padding: 0 2rem 10px;
    width: 100%;

    overflow-y: auto;
}

.wide-div {
   width: 100%;
}

.chat-panel {
    flex: 2 1 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
    width: 100%;
    height: 100%;
}

.info-panel {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
    width: 100%;
    height: 100%;

}

@media (max-width: 800px) {
    .main-layout {
        flex-direction: column;
        padding: 0.5rem;
        gap: 1rem;
        margin-top: 10px;
    }
    .chat-panel,
    .info-panel {
        width: 100%;
    }
    body {
        padding-top: 0;
    }
}

.header-info {
    display: none;
}

@media (max-width: 800px) {
    .header-info {
        display: flex;
        flex-direction: column;
        background-color: #2c5696;
        color: white;
        padding: 1rem;
        line-height: 1.5;
        text-align: center;
        white-space: pre-wrap;
        border-top: 2px solid var(--border-color);
        align-items: center;
        justify-content: center;


    }
    .header-text {
        flex: 3;
        font-size: clamp(0.85rem, 2.5vw, 1.0rem);
        line-height: 1.5;
        overflow-wrap: break-word;

    }
    .header-content {
        text-align: justify;
    }

    .header-title {
        flex: 3;
        font-size: clamp(0.85rem, 2.5vw, 1.0rem);
        line-height: 1.5;
        text-align: center;
    }


    .header-logo {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-logo img {
        max-width: 100%;
        height: auto;
        max-height: 80px;
        filter: brightness(0) contrast(200%) invert(1);
        opacity: 1.0;

    }
}


