.card {
    background-color: var(--bg-color);
    border-radius: 1.5rem;
    border: 1.25px solid var(--border-color);
    padding: clamp(10px, 1.7vw, 14px);
    box-shadow: 0 3px 10px #2C5696;
    width: 100%;
    max-width: 100%;
    height: auto;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    color: var(--text-color);
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
    padding: 2px 16px;
}

.city {
    font-size: clamp(10px, 1.8vw, 16px);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.time {
    font-size: clamp(10px, 1.8vw, 16px);
    opacity: 0.7;
    margin: 0;
    padding: 0;
}

.tempBlock {
    text-align: center;
    margin: 0;

}

.temperature {
    margin: 0;
    padding: 0;
    font-size: clamp(14px, 1.9vw, 18px);
    font-weight: bold;
    color: var(--text-color);
}

.condition {
    font-size: clamp(10px, 1.7vw, 16px);
    color: #888;
    padding: 0;
    margin: 0.15rem 0 0;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-top: 5px;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.metric {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
    gap: 0.5rem;
    font-size: clamp(10px, 3vw, 16px);
    font-weight: 500;
    flex-wrap: wrap;
}

.info-group {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-color);
}

@media (max-width: 1300px) {
    .bottom-info {
        display: none;
    }
}

@media (max-width: 800px) {
    .bottom-info {
        display: flex;
    }
    .city {
        font-size: clamp(12px, 3vw, 18px);
    }
    .card {
        padding: clamp(16px, 4vw, 30px);
    }
    .time {
        font-size: clamp(12px, 3vw, 18px);
    }
    .condition {
        font-size: clamp(12px, 1.4vw, 16px);
    }





}