
.section {
    margin-top: 1rem;
}


.title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.paragraph {
    margin: 0.25rem 0;
}


.icon {
    width: 40px;
    height: 40px;
}