

.button {
    position: absolute;
    perspective: 600px;
    margin-top: 0;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
    box-shadow: 0 2px 4px var(--border-color);

}

.flip-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .button {
        margin-left: 7px;


    }
}
