.container {
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 1500;
}

.button {
    position: fixed;
    perspective: 600px;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

}

.flip-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

