.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1.5rem;
    box-shadow: 0 3px 10px var(--border-color);
    border:  2px solid var(--border-color);
    border-radius: 1rem;
    background-color: var(--bg-color);
    max-height: 85vh;
    height: 85vh;
    max-width: 90vh;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.command-button {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 0.2rem 0.1rem;
    border-radius: 12px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0 2px 2px var(--border-color);
    transition: background-color 0.2s ease;
    width: 100%;
}

.command-bar {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: space-between;

}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.chatLog {
    flex: 1;
    max-height: 100%;
    min-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.4) transparent;
    box-sizing: border-box;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
}


.message {
    margin-bottom: 0.5rem;
    align-self: flex-start;
}

@media (max-width: 768px) {
    .command-bar {
        display: none;
    }
    .chatLog {
        font-size: 14px;
    }


}






