.container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 1rem;
    box-shadow: 0 3px 10px var(--border-color);
    border:  2px solid var(--border-color);
    border-radius: 1rem;
    background-color: var(--bg-color);
    max-height: 85vh;
    height: 85vh;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    vertical-align: middle;
}

.command-button {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 0.2rem 0.1rem;
    border-radius: 1rem;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0 2px 2px var(--border-color);
    width: 100%;
    font-size: clamp(8px, 1.15vw, 14px);
}

.command-bar {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: space-between;


}

.title {
    font-weight: 600;
    font-size: 30px;
    margin: 20px;
}

.chatLog {

    flex: 1;
    max-height: 100%;
    min-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.4) transparent;
    box-sizing: border-box;
    word-break: break-word;
    font-size: clamp(12px, 1.5vw, 16px);
    overflow-wrap: break-word;
}


.message {
    margin-bottom: 0.5rem;
    align-self: flex-start;
}

@media (max-width: 800px) {
    .command-bar {
        display: none;
    }
    .chatLog {
        font-size: clamp(10px, 3vw, 12px);
    }
    .title {
        font-size: clamp(20px, 5vw, 30px);
    }
}

