.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1.5rem;
    box-shadow: 0 3px 10px var(--border-color);

    border:  2px solid var(--border-color);
    border-radius: 1rem;
    background-color: var(--bg-color);
    height: 80vh;
    max-height: 80vh;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.chatLog {
    flex: 1;
    max-height: 100%;
    min-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.4) transparent;
    box-sizing: border-box;
    word-break: break-word;
    overflow-wrap: break-word;

}

.chatLog::-webkit-scrollbar {
    width: 6px;
}
.chatLog::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.chatLog::-webkit-scrollbar-track {
    background: transparent;
}


.message {
    margin-bottom: 0.5rem;
}





