.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1rem;
    box-shadow: 0 3px 10px var(--border-color);
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    background-color: var(--bg-color);
    max-height: 85vh;
    height: 85vh;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    vertical-align: middle;
}

.title-left {
    display: flex;
    align-items: center;
}

.command-button {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 0.2rem 0.1rem;
    border-radius: 1rem;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0 2px 2px var(--border-color);
    width: 100%;
    font-size: clamp(8px, 1.15vw, 14px);
}

.command-bar {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: 600;
    font-size: 30px;
    margin: 15px 0;
}

.chatLog {
    flex: 1;
    max-height: 100%;
    min-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.4) transparent;
    box-sizing: border-box;
    word-break: break-word;
    font-size: clamp(12px, 1.5vw, 16px);
    overflow-wrap: break-word;
}


.message {
    margin-bottom: 0.5rem;
    align-self: flex-start;
}

.help-wrapper {
    position: relative;
    margin-left: 0.5rem;
    flex-shrink: 0;
}

.help-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--border-color);
    opacity: 0.8;
    cursor: help;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: justify;
}

.tool-tip {
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translateX(-50%);
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
    .input {
        font-size: 0.8rem;
    }
    .empty::before {
        font-size: 0.8rem;
    }
    .tool-tip {
        font-size: 0.8rem;
    }
}

@media (max-width: 1000px) {
    .tool-tip {
        white-space: pre-wrap;
        min-width: 250px;
    }
}

@media (max-width: 800px) {
    .command-bar {
        display: none;
    }

    .chatLog {
        font-size: 12px;
    }

    .title {
        font-size: clamp(20px, 5vw, 30px);
    }

}

