name: Deploy to Server ver4

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to Server
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh -o StrictHostKeyChecking=no server@oop.atlante.ee << 'EOF'
            sudo rm -rf /opt/online-chat/oop-online-chat
            sudo git clone https://github.com/jaxhend/oop-online-chat.git /opt/online-chat/oop-online-chat
            cd /opt/online-chat/oop-online-chat/
            sudo git config --global --add safe.directory /opt/online-chat/oop-online-chat
            sudo git pull origin main
            sudo mvn clean install -DskipTests
            sudo systemctl restart online-chat.service
            EOF
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
